name: Build check

on:
  pull_request:
  workflow_dispatch:

jobs:
  build-check:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    
    steps:
    - uses: actions/checkout@v6
    
    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
    
    - name: Check build
      run: go build ./cmd/typomat
