name: Homebrew Installation Test

on:
  workflow_dispatch:

jobs:
  test-homebrew:
    runs-on: macos-latest
    
    steps:
      - name: Tap vupdivup/tap
        run: brew tap vupdivup/tap
      
      - name: Install typomat
        run: brew install typomat
      
      - name: Run typomat help
        run: typomat -h
