name: Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  actions: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
        with:
          version: latest
          args: release --clean

      - name: Run installation tests
        if: ${{ success() }}
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh workflow run homebrew-test.yml
          gh workflow run scoop-test.yml
