name: Scoop installation test

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 6'

jobs:
  scoop-test:
    runs-on: windows-latest
    
    steps:
      - uses: MinoruSekine/setup-scoop@v4.0.2
      
      - name: Add vupdivup bucket
        run: scoop bucket add vupdivup https://github.com/vupdivup/scoop-bucket
      
      - name: Install typomat
        run: scoop install typomat
      
      - name: Run typomat help
        run: typomat -h
